/* ini cssnya */

@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

body {
    font-family: "Inconsolata", monospace;
    font-size: 18px;
    background: #f0f0f0;
    font-weight: 300;
    color: #333333;
}

#login-page, #navbar, #content-list {
    display: none;
}

/* section padding */

.section_padding {
    padding: 20px 0px;
}

/* Login Page */
.site-register {
    position: absolute;
    height: 100% !important;
    width: 50%;
    left: -50%;
    padding: 30px 100px;
    -webkit-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    -ms-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
    z-index: 3;
}

.site-register.open {
    left: 0;
}

.site-login {
    width: 100%;
    padding-bottom: 100px;
    position: relative;
    -webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -ms-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
}

body.open .site-login {
    margin-left: 44%;
}

@media screen and (max-width: 500px) {
    .site-register {
        width: 60px;
    }
    .site-register.open {
        width: 50%;
    }
    .site-login {
        width: calc(100% - 40px);
        margin-left: 40px;
    }
    body.open .site-login {
        z-index: -1;
        margin-left: 40px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .section_padding {
        padding: 100px 0px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section_padding {
        padding: 70px 0px;
    }
}

@media (max-width: 576px) {
    .section_padding {
        padding: 70px 0px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section_padding {
        padding: 70px 0px;
    }
}

/* cta */

.cta_part {
    position: relative;
    background-image: url(../img/web_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
    min-height: 540px;
}

@media (max-width: 991px) {
    .cta_part {
        height: auto;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .cta_part {
        height: auto;
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header-top {
    font-size: 12px;
    padding: 0px;
    height: 60px;
    line-height: 60px;
}

.header-top a {
    color: #222;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
}

.header-top a i {
    color: #cccccc;
}

.header-top ul {
    display: inline-block;
    border-right: 1px solid #cccccc;
    padding: 0 15px;
    margin: 0 auto;
}

.header-top ul li {
    display: inline-block;
    margin-left: 15px;
}

.header-top .header-top-right {
    text-align: right;
}

.header-top .header-top-right i {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header-top .header-top-right a {
    margin-right: 10px;
}

.header-top .header-top-right a:hover {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header-top .header-top-right a:hover i {
    color: #3face4;
}

.header-top .header-top-left {
    border-right: 1px solid #cccccc;
    display: inline-block;
}

.icon-header {
    width: 200px;
}

.header-top .lnr {
    display: none;
}

@media (max-width: 588px) {
    .header-top .lnr {
        display: block;
        font-weight: bold;
        font-size: 16px;
        color: #fff;
    }
    /* .header-top .text {
        display: none;
    } */
}

/* @media (max-width: 991px) {
    .header-top {
        display: none;
    }
} */

.top-head-btn {
    background: #3face4;
    padding: 9px 26px;
}

@media (max-width: 991px) {
    #mobile-nav-toggle i {
        color: #3face4 !important;
    }
}

@media (max-width: 991px) {
    .main-menu {
        height: 100px;
        line-height: 100px;
    }
}

@media (max-width: 768px) {
    .main-menu {
        height: 80px;
        line-height: 80px;
    }
}

#header {
    transition: all 0.5s;
    z-index: 997;
    background: #fff;
}

#header hr {
    margin: 0;
    background: rgba(204, 204, 204, 0.54);
}

/* @media (max-width: 991px) {
    #header hr {
        display: none;
    }
} */

#header.header-scrolled {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
}

#header.header-scrolled .header-top, #header.header-scrolled hr {
    display: none;
}

.weatherShow {
    background: rgba(255, 255, 255, 0.699);
}

.duedate-card {
    background: rgba(224, 0, 0, 0.486);
    /* padding: 30px; */
    border: 1px solid rgba(66, 66, 66, 0.692);
    border-radius: 30px;
}

.duedate-card a {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.duedate-card blockquote {
    color: rgba(0, 0, 0, 0.61);
    font-size: large;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    text-transform: capitalize;
    word-wrap: break-word;
}

.duedate-card p {
    color: rgb(0, 22, 22);
    font-size: small;
    margin-top: 20px;
    margin-bottom: 0;
}

.task-card {
    background: rgba(231, 255, 146, 0.466);
    /* padding: 30px; */
    border: 1px solid rgba(66, 66, 66, 0.726);
    border-radius: 30px;
}

/* .task-card h5 {
    font-weight: bolder;
    word-wrap: break-word;
} */

.task-card a {
    font-weight: bolder;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-card blockquote {
    color: teal;
    font-size: large;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    text-transform: capitalize;
    word-wrap: break-word;
}

.task-card p {
    color: teal;
    font-size: small;
    margin-top: 20px;
    margin-bottom: 0;
}

============================================================================================*/
/* Start Reservation Area css
============================================================================================ */

.site-login .section-title {
    padding-left: 55px;
}

@media (max-width: 991px) {
    .site-login .section-title {
        padding-left: 60px;
    }
}

@media (max-width: 767px) {
    .site-login .section-title {
        margin-top: 60px;
    }
}

/**************** service_part css start ****************/

/* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_feature_part.scss */

.site-login {
    position: relative;
    z-index: 1;
}

@media (max-width: 576px) {
    /* line 21, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_feature_part.scss */
    .site-login .feature_img {
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 21, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_feature_part.scss */
    .site-login .feature_img {
        padding-left: 0;
    }
}

@media (max-width: 576px) {
    /* line 30, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_feature_part.scss */
    .site-login .site-login_text {
        padding-left: 0;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 30, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_feature_part.scss */
    .site-login .site-login_text {
        padding-left: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 30, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_feature_part.scss */
    .site-login .site-login_text {
        padding-left: 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 30, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_feature_part.scss */
    .site-login .site-login_text {
        padding-left: 0;
    }
}

/* line 47, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_feature_part.scss */

.site-login .site-login_text h2 {
    font-size: 35px;
    font-weight: 500;
    position: relative;
    text-transform: capitalize;
}

@media (max-width: 576px) {
    /* line 47, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_feature_part.scss */
    .site-login .site-login_text h2 {
        font-size: 25px;
        margin-bottom: 10px;
        line-height: 35px;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 47, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_feature_part.scss */
    .site-login .site-login_text h2 {
        font-size: 25px;
        margin-bottom: 10px;
        line-height: 35px;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 47, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_feature_part.scss */
    .site-login .site-login_text h2 {
        font-size: 25px;
        margin-bottom: 10px;
        line-height: 35px;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 47, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_feature_part.scss */
    .site-login .site-login_text h2 {
        font-size: 28px;
        margin-bottom: 20px;
        line-height: 40px;
    }
}

.feature_img img {
    width: 85%;
    margin-top: 3%;
}

.confirm-password {
    margin-top: 33px;
}
